/* http://meyerweb.com/eric/tools/css/reset/ 
 v2.0b1 | 201101 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
  }

body {
  line-height: 1;
  }

ol, ul {
  list-style: none;
  }

p {
  margin-top: 0em;
  margin-bottom: 1.5em;
  }

blockquote, q {
  quotes: none;
  }

strong {
  font-weight: 800;
  }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
  }

/* remember to define visible focus styles! 
:focus {
  outline: ?????;
} */

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
  }

del {
  text-decoration: line-through;
  }

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*----------------------------------------------------
Mobile Style
-------------------------------------------------------*/

body {
  background: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  }

#container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 1em auto;
  width: 100%;
  background: #fff;
  /*border: 1px solid #cc0000;*/
  }

header {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background: #fff;
  /*border: 1px solid #cc0000;*/
  }

.logo {
  }

.masthead {
  background: #fff;
  /*border: 1px solid #cc0000;*/
  }

/*----------------------------------------------------
   Navigation [Mobile]
-------------------------------------------------------*/
nav > .menu-link > ul {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background: #fff; /* background for nav dropdown */
  }

nav > .menu-link > ul > li {
	flex: 0 1 auto;
  display: block;
	margin: 0.5em 0;
	padding: 0.5em 0;
	position: relative;
  font-size: 1.5rem;
  transition: all linear 0.1s;
  border-bottom: 1px solid #999;
  }

nav > .menu-link > ul > li:hover {
	background: #f3f2ff;
	}

nav > .menu-link > ul > li > a {
  display: block;
  padding: 0.5em 1em;
  cursor: pointer;
  text-transform: uppercase;
  color: #808285;
  text-decoration: none;
  font-weight: bold;
  font-size: 0.75em;
  z-index: 2;
  /*border: 1px solid #cc0000;*/
  }

.menu-link {
  position: fixed;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row;
  -ms-flex-flow: row;
  flex-flow: row;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: flex-start;
  justify-content: flex-start;
  z-index: 1;
  width: 100%;
  padding: 0.5em 0 0.5em 0em;
  top: 0;
  left: 0;
  }

.menu-link {
  display: block;
  text-transform: uppercase;
  color: #fff;
  margin: 0 ;
  }

.bar-icon-wrapper {
  -webkit-transform: translate3d(0,0,0);
  margin: 0 0 0 1em;
  display: inline-block;
  }

.bar-icon {
  height: 3px;
  width: 20px;
  background: #000;
  display: block;
  opacity: 1;
  margin-top: 4px;
  -webkit-transition: -webkit-transform .1s ease-in;
  -o-transition: -o-transform .1s ease;
  -ms-transition: -ms-transform .1s ease;
  -moz-transition: -moz-transform .1s ease;
  transition: transform .1s ease-in;
  -webkit-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

.show_menu {
  color: #fff;
  cursor: pointer;
  }

nav > .menu-link > ul.main-navigation {
 display: none;
  }

/*----------------------------------------------------
  Page Elements [Mobile]
-------------------------------------------------------*/

.main {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  }

article {
  background: #fff;
  /*border: 1px solid #cc0000;*/
  }

.sidebar {
  background: #fff;
  /*border: 1px solid #cc0000;*/
  }


footer {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 1em;
  background: #000;
  /*border: 1px solid #cc0000;*/
  }

.copyright {
  color: #fff;
  text-align: center;
  }

.large {
  font-size: 1.25em; /* 20/16 = 1.25 */
  }

.small {
  font-size: 0.75em; /* 12/16 = 0.75 */
  }

.row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: left;
  -ms-flex-pack: left;
  justify-content: left;
	}

.content-cell-wide {
	width: 61.65%;
}

.content-cell {
 width: 38.35%;
}

.show_detail > img {
  cursor: pointer;
  margin: -5px;
  padding: 0;
  border: 0;
  outline: 0;
  }

.details {
 display: none;
  }

.description {
  font-size: 1rem;
  color: #808285;
  font-weight: light;
  line-height: 2em;
  text-align: left;
  margin:  1px 0.25em 0.5em;
  padding: 0.75em;
  text-indent: 0;
  width: 57%;
  position: absolute;
  background: #fff;
  border-radius: 0px 0px 20px 0px;
  -moz-border-radius: 0px 0px 20px 0px;
  -webkit-border-radius: 0px 0px 20px 0px;
  border: 1px solid #999; 
  z-index: 999;
-webkit-box-shadow: 1000px 1000px 5px 1000px rgba(0,0,0,0.75);
-moz-box-shadow: 1000px 1000px 5px 1000px rgba(0,0,0,0.75);
box-shadow: 1000px 1000px 5px 1000px rgba(0,0,0,0.75);
  }

.description-top {
  font-size: 1rem;
  color: #808285;
  font-weight: light;
  line-height: 1.6em;
  text-align: left;
  margin:  1px 0.25em 0.5em;
  padding: 0.75em;
  text-indent: 0;
  width: 90%;
  position: absolute;
  top: 200px;
  background: #fff;
  border-radius: 0px 20px 0px 0px;
  -moz-border-radius: 0px 20px 0px 0px;
  -webkit-border-radius: 0px 20px 0px 0px;
  border: 1px solid #999; 
  z-index: 999;
-webkit-box-shadow: 1000px 1000px 5px 1000px rgba(0,0,0,0.75);
-moz-box-shadow: 1000px 1000px 5px 1000px rgba(0,0,0,0.75);
box-shadow: 1000px 1000px 5px 1000px rgba(0,0,0,0.75);
  }

#page-cover { /* blacks out page when toggle div is displayed */
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: 500;
  top: 0;
  left: 0;
  }

/*----------------------------------------------------
Wide Style
-------------------------------------------------------*/
@media only screen and (min-width: 800px) {

header {
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 1em;
  background: #fff;
  /*border: 1px solid #cc0000;*/
  }

/*----------------------------------------------------
  Navigation [Desktop]
-------------------------------------------------------*/

.show_menu {
  display: none;
  }

nav > .menu-link > ul.main-navigation {
	display: block;
	}
 
nav > .menu-link > ul {
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: left;
  -ms-flex-pack: left;
  justify-content: left;
  margin: 0 0 1em 0.5em;
  }

nav > .menu-link > ul > li {
	display: inline;
	flex: 0 1 auto;
	margin: 0;
	padding: 0;
	position: relative;
  border: none;
  }

nav > .menu-link > ul > li > a {
	display: inline;
  padding: 0.5em 0.75em;
  cursor: pointer;
  font-size: 0.75rem;
  }

.menu-link {
  position: relative;
  -webkit-flex-flow: row;
  -ms-flex-flow: row;
  flex-flow: row;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: flex-start;
  justify-content: flex-start;
  z-index: 1;
  padding: 0.5em 0 0.5em 0em;
  }

/*----------------------------------------------------
  Page Elements
-------------------------------------------------------*/

.main {
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  }

article {
  width: 100%;
  }

}
