/* http://meyerweb.com/eric/tools/css/reset/ 
 v2.0b1 | 201101 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%; /* is 16px or 12pt */
  font: inherit;
  vertical-align: baseline;
  }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
  }

body {
  line-height: 1;
  }

ol, ul {
  list-style: none;
  }

p {
  margin-top: 0em;
  margin-bottom: 1.5em;
  }

blockquote, q {
  quotes: none;
  }

strong {
  font-weight: 600;
  }

em {
  font-style: italic;
  }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
  }

/* remember to define visible focus styles! 
:focus {
  outline: ?????;
} */

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
  }

del {
  text-decoration: line-through;
  }

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.form-control {
  padding: 1.5em 0.75em;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
}

input {
  font-family: Helvetica, Arial, fontAwesome, sans-serif;
  font-size: 1.25em;
  background: #ebeced;
  border: 1px solid #ddd;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  }

input[type=text], input[type=password] {
 width: 100%;
}

.center input {
  width: 100px;
  display: block;
  margin: 0 auto 2em;
  cursor: pointer;
  }
.clearer {
clear: both;
}

/*----------------------------------------------------
Mobile Style
-------------------------------------------------------*/

body {
  background: #fff;
  font-family: 'Open Sans', sans-serif;
  color: #808285;
  background: #333;
  }

#container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 1em auto;
  width: 100%;
  background: #fff;
  }

header {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: flex-start;
  justify-content: flex-start;
  background: #fff;
  }

.logo {
  margin: 0 0 0 1em;
  width: 150px;
 }

.logo img {
  width: 100%;
 }

.tagline {
  font-size: 0.85em;
  font-style: italic;
  margin: 4em 0 0 0;
  width: 10em;
  }

.heavy-italic {
  font-weight: bold;
  }

/*----------------------------------------------------
   Navigation [Mobile]
-------------------------------------------------------*/
nav > .menu-link > ul {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background: #fff; /* background for nav dropdown */
  }

nav > .menu-link > ul > li {
	flex: 0 1 auto;
  display: block;
	margin: 0.5em 0;
	padding: 0.5em 0;
	position: relative;
  font-size: 1.5rem;
  transition: all linear 0.1s;
  border-bottom: 1px solid #999;
  }

nav > .menu-link > ul > li:hover {
	background: #f3f2ff;
	}

nav > .menu-link > ul > li > a {
  display: block;
  padding: 0.5em 1em;
  cursor: pointer;
  text-transform: uppercase;
  color: #808285;
  text-decoration: none;
  font-weight: bold;
  font-size: 0.75em;
  z-index: 2;
  /*border: 1px solid #cc0000;*/
  }

.menu-link {
  position: fixed;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row;
  -ms-flex-flow: row;
  flex-flow: row;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: flex-start;
  justify-content: flex-start;
  z-index: 1;
  width: 100%;
  padding: 0.5em 0 0.5em 0em;
  top: 0;
  left: 0;
  }

.menu-link {
  display: block;
  text-transform: uppercase;
  color: #fff;
  margin: 0 ;
  }

.bar-icon-wrapper {
  -webkit-transform: translate3d(0,0,0);
  margin: 0 0 0 1em;
  display: inline-block;
  }

.bar-icon {
  height: 3px;
  width: 20px;
  background: #000;
  display: block;
  opacity: 1;
  margin-top: 4px;
  -webkit-transition: -webkit-transform .1s ease-in;
  -o-transition: -o-transform .1s ease;
  -ms-transition: -ms-transform .1s ease;
  -moz-transition: -moz-transform .1s ease;
  transition: transform .1s ease-in;
  -webkit-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

.show_menu {
  color: #fff;
  cursor: pointer;
  }

nav > .menu-link > ul.main-navigation {
 display: none;
  }

/*----------------------------------------------------
  Page Elements [Mobile]
-------------------------------------------------------*/

.main {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  }

.banner {
  clear: both;
  width: 100%;
}

.banner h1 {
text-align: right;
}

h1.banner-text {
  position: relative;
  width: 40%;
  min-width: 300px;
  text-transform: uppercase;
  font-size: 1.5em;
  margin-top: -100px;
  margin-bottom: 100px;
  font-weight: bold;
  background: rgba(255,255,255,0.85);
  padding: 1rem;
}

article {
  background: #fff;
  clear: both;
  }

article p {
  margin: 0 2em 2em;
  line-height: 1.3em;
}

article h2, article h3 {
  font-weight: bold;
  margin: 0 2em 0.65em 1.9em;
}

article h2 {
  font-size: 1.1em;
}

article h3 {
  font-size: 1rem;
}

.sidebar {
  background: #fff;
  /*border: 1px solid #cc0000;*/
  }


footer {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 1em;
  background: #000;
  /*border: 1px solid #cc0000;*/
  }

.copyright {
  color: #fff;
  text-align: center;
  }

.large {
  font-size: 1.25em; /* 20/16 = 1.25 */
  }

.small {
  font-size: 0.75em; /* 12/16 = 0.75 */
  }

.flex-row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: left;
  -ms-flex-pack: left;
  justify-content: left;
  margin-bottom: 1em;
  }

.content-cell-wide {
  width: 61.65%;
  display: inline;
  }

.content-cell {
 width: 38.35%;
 }

.resident-request {
  width: 95%;
  }

            /* BOOTSTRAP 3.x GLOBAL STYLES
-------------------------------------------------- */


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 1em;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 1;
  position: absolute;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 200px;
  }

.carousel-indicators {
width: 300px;
}

.carousel-indicators li {
  width: 20px;
  height: 20px;
  }

.carousel-indicators .active {
  margin: 0;
  width: 22px;
  height: 22px;
  background-color: #fff;
  }

/* Move page indicators to right side */
#myCarousel > .carousel-indicators {
  left: 70%;
  }

/* Bump up size of carousel content */
.carousel-caption p {
  margin-bottom: 20px;
  font-size: 21px;
  line-height: 1.2;
  }

.show_detail_1, .show_detail_2, .show_detail_3, .show_detail_4, .show_detail_5 {
  cursor: pointer;
}

#feature_property-carousel {
  margin: 0;
}

#feature_property-carousel > .carousel-indicators {
  margin: 0 10em 0 0;
  left: 0%;
  text-align: left;
  }

#feature_property-carousel > .carousel-indicators li {
  margin: 0 0.2em;
  border: none;
  background-color: #ddd;
  width: 14px;
  height: 14px;
  }

#feature_property-carousel > .carousel-indicators .active {
  background-color: #003399;
  }


/* RESPONSIVE CSS
-------------------------------------------------- */

.carousel-image-one {
  background: url('../img/slider_color_689.jpg') no-repeat top left;
  }

.carousel-image-two {
  background: url('../img/slider_castle_689.jpg') no-repeat top right;
  }

.carousel-image-three {
  background: url('../img/slider_tablet_689.jpg') no-repeat top left;
  }

.carousel-image-four {
  background: url('../img/slider_antarctica_689.jpg') no-repeat top right;
  }

.carousel-image-five {
  background: url('../img/slider_human_689.jpg') no-repeat top right;
  }

.carousel-caption-one {
  width: 45%;
  text-align: left;
  left: 45%;
  padding-bottom: 30px;
  }

.carousel-caption-two {
  width: 45%;
  text-align: left;
  left: 12%;
  padding-bottom: 30px;
  }

.carousel-caption-three {
  width: 35%;
  text-align: center;
  left: 60%;
  padding-bottom: 70px;
  }

.carousel-caption-four {
  width: 55%;
  text-align: center;
  left: 7%;
  padding-bottom: 40px;
  }

.carousel-caption-five {
  width: 30%;
  text-align: left;
  left: 16%;
  padding-bottom: 40px;
  }

.dark {
  color: #333;
  text-shadow: 0 1px 2px rgba(255,255,255,.5);
  }

.carousel-caption p {
  margin: 0 0 .25em 0;
  font-style: italic;
  }

.carousel-caption p.main {
  font-weight: bold;
  font-size: 1rem;
  }

.carousel-caption p.last {
  margin-top: 1em;
  font-size: 1.3rem;
  }

.carousel-caption-one p.main, .carousel-caption p.last {
  font-size: 0.75rem;
  }

.details {
 display: none;
  }

.description {
  z-index: 9999;
  font-size: 0.75rem;
  line-height: 2em;
  text-align: left;
  margin:  -1em 0.25em 0.25em 0;
  padding: 0.75em 0.75em 0.75em 1em;
  text-indent: 0;
  width: 90%;
  max-width: 750px;
  position: relative;
  background: #fff;
  border-radius: 0px 0px 20px 0px;
  -moz-border-radius: 0px 0px 20px 0px;
  -webkit-border-radius: 0px 0px 20px 0px;
  border: 1px solid #999; 
  }

.description p {
  margin:  0.25em 0.25em 0.25em 1.5em;
  }

/*----------------------------------------------------
   Table [mobile]
-------------------------------------------------------*/

td {
padding: 0.5em;
}

td.label {
text-align: right;
}

/*----------------------------------------------------
Medium Width Style 500 <=> 900
-------------------------------------------------------*/
@media only screen and (min-width: 600px) {

#container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 1em auto 2em;
  width: 100%;
  background: #fff;
  }

/*----------------------------------------------------
  Navigation [Desktop]
-------------------------------------------------------*/

.show_menu {
  display: none;
  }

nav > .menu-link > ul.main-navigation {
	display: block;
	}
 
nav > .menu-link > ul {
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: left;
  -ms-flex-pack: left;
  justify-content: left;
  margin: 0 0 1em 1.5em;
  }

nav > .menu-link > ul > li {
	display: inline;
	flex: 0 1 auto;
	margin: 0;
	padding: 0;
	position: relative;
  border: none;
  }

nav > .menu-link > ul > li > a {
	display: inline;
  padding: 0 0.75em;
  cursor: pointer;
  font-size: 0.75rem;
  }

.menu-link {
  position: relative;
  -webkit-flex-flow: row;
  -ms-flex-flow: row;
  flex-flow: row;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: flex-start;
  justify-content: flex-start;
  z-index: 1;
  padding: 0;
  }

/*----------------------------------------------------
  Page Elements
-------------------------------------------------------*/

.logo {
  margin: 0 1em;
  width: 150px;
   }

.tagline {
  font-size: 1.1em;
  font-style: italic;
  margin: 3.7em 0 0 0;
  width: 20em;
  }

.center {
  display: block;
  margin: 0 auto 1em;
  }

.resident-request {
  width: 80%;
  display: block;
  margin: 0 auto 2em;
  max-width: 950px;
  }

.reserve_now_form  {
  width: 100%;
  height: 100%;
  background-color: #ebeced;
  display: none;
  z-index: 999;
  top: 0;
  left: 0;
  position: fixed;
/*  overflow-y: auto;
  -webkit-overflow-scrolling: touch;*/
  }

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 285px;
  }

.carousel-image-one {
  background: url('../img/slider_color_983.jpg') no-repeat top left;
  }

.carousel-image-two {
  background: url('../img/slider_castle_983.jpg') no-repeat top right;
  }

.carousel-image-three {
  background: url('../img/slider_tablet_983.jpg') no-repeat top left;
  }

.carousel-image-four {
  background: url('../img/slider_antarctica_983.jpg') no-repeat top right;
  }

.carousel-image-five {
  background: url('../img/slider_human_983.jpg') no-repeat top right;
  }

.carousel-caption-one {
  left: 45%;
  padding-bottom: 35px;
  }

.carousel-caption-two {
  padding-bottom: 70px;
  }

.carousel-caption-three {
  left: 55%;
  padding-bottom: 110px;
  }

.carousel-caption-four {
  padding-bottom: 60px;
  }

.carousel-caption-five {
  padding-bottom: 50px;
  }

.carousel-caption p.main {
  font-size: 1.6rem;
  }

.carousel-caption p.last {
  font-size: 1.6rem;
  }

.carousel-caption-one p.main, .carousel-caption p.last {
  font-size: 1.2rem;
  }

.description {
  font-size: 0.85rem;
  width: 80%;
  }
}
/*----------------------------------------------------
Wide Style 900 <=> 1280
-------------------------------------------------------*/
@media only screen and (min-width: 900px) {



/* Declare heights because of positioning of img element */
.carousel .item {
  height: 400px;
  }

.carousel-caption-one {
  padding-bottom: 75px;
  }

.carousel-caption-two {
  padding-bottom: 70px;
  }

.carousel-caption-three {
  padding-bottom: 175px;
  }

.carousel-caption-four {
  padding-bottom: 65px;
  }

.carousel-caption-five {
  padding-bottom: 50px;
  }

.carousel-caption p.main {
  font-size: 2.3rem;
  }

.carousel-caption p.last {
  font-size: 1.3rem;
  }

.carousel-caption-one p.main, .carousel-caption p.last {
  font-size: 1.8rem;
  }



/* RESPONSIVE CSS
-------------------------------------------------- */

.carousel-image-one {
  background: url('../img/slider_color_1511.jpg') no-repeat top left;
  }

.carousel-image-two {
  background: url('../img/slider_castle_1511.jpg') no-repeat top right;
  }

.carousel-image-three {
  background: url('../img/slider_tablet_1511.jpg') no-repeat top left;
  }

.carousel-image-four {
  background: url('../img/slider_antarctica_1511.jpg') no-repeat top right;
  }

.carousel-image-five {
  background: url('../img/slider_human_1511.jpg') no-repeat top right;
  }

.description {
  font-size:1rem;
  width: 75%;
  }

}

/*----------------------------------------------------
   Client Pages
-------------------------------------------------------*/
.property-detail-screen {
max-width: 1200px;
margin: 0 auto;
}


/* black bar at top of page */
.title-bar {
  margin: 0.85em;
  display: inline;
  color: #fefefe;
  font-size: 0.8em;
}

.alc {
  text-transform: uppercase;
  margin-left: 2em;
  float: left;
  font-weight: 500;
}

.client-name {
  margin-right: 2em;
  float: right;
}

.info-bar {
  display: inline;
  color: #424242;
  padding: 1.25em 0;
  background: #faefdb;
  font-size: 0.75em;
}

.info-back {
margin: 0 2em;
padding-right: 2em;
border-right: 1px solid #ddd;
}

.location {
margin: 0 1em 0 0;
padding-right: 2em;
}

.location > .fa-map-marker {
  font-size: 1.2em;
  margin-right: 0.4em;
}

.dates {
margin: 0 4em 0 0;

}

.dates > .fa-calendar {
  font-size: 1.2em;
  margin-right: 0.4em;
}

.update-search {
  font-size: 0.9em;
}

.update-search a:link, .update-search a:visited, .update-search a:hover {
text-decoration: underline;
color: #424242;
}

.padded {
padding: 0 4em;
}

.property-detail, .properties-results {
margin: 0;
}

.property-detail {
margin-top: 1.5em;
}

.property-detail * .min-stay {
font-size: 1.4em;
}

.location-title {
text-transform: uppercase;
font-weight: 500;
font-size: 1.28em;
color: #424242;
margin: 0 0 0.2em 0;
}

.location-id, .location-address {
display: block;
font-size: 0.6875em;
line-height: 1.5em;
color: #929497;
}

.property-numbers {
margin: 1.6em 0;
}

.col-md-4, .col-md-5, .col-md-8 {
padding: 0;
}

.reserve-now, .reserve-now:hover {
font-size: 0.75em;
font-weight: 600;
text-transform: uppercase;
background: #003399;
border-radius: 1px;
width: 100%;
padding: 0.9em;
margin: 0 2em 1.25em 1em;
}

.view-details, .view-details:hover {
margin: 2em 0 0 0;
text-transform: uppercase;
font-size: 0.75em;
font-weight: 600;
background: #003399;
border-radius: 1px;
padding: 0.9em 1.8em;
}

.daily-price, .location-price, .min-stay {
display: inline;
color: #333;
}

.daily-price, .location-price {
font-size: 1.4em;
}

.min-stay {
font-size: 0.6875em;
}

a.currency-denominator {
line-height: 0;
border-bottom: 1px dotted #337ab7;
}

a.currency-denominator {
font-size: 0.75em;
}

a.currency-denominator:hover {
text-decoration: none;
}

.feature-details * .small-print {
margin-top: 0.25em;
}

.price-unit {
font-size: 0.625em;
color: #797979;
margin: 0.5em 0 0 0;
}

.results-box * .min-stay {
color: #333;
font-size: 0.6875em;
font-style: italic;
font-weight: 600;
}

.move-date {
font-size: 0.6875em;
color: #424242;
}

h2.property-about, h2.property-amenities {
font-size: 1.2857em;
color: #929497;
text-transform: uppercase;
font-weight: 500;
margin: 1em 0 1em;
}

ul.property-features, ul.property-amenities {
font-size: 0.75em;
color: #929497;
list-style: disc inside none;
line-height: 2em;
-moz-column-count: 2;
-webkit-column-count: 2;
column-count: 2;
margin: 0 0 2em;
}

.row-spacing {
margin: 1.5em 0;
}

.cal-section {
border-top: 1px solid #ddd;
border-bottom: 1px solid #ddd;
}

.cal-section > h3{
margin: 1em 0 0;
color: #929497;
}

.cal-body {
border: 1px solid #ddd;
font-size: 0.75em;
text-align: center;
padding: 1em 1.25em;
}

.cal-key {
display: inline-block;
width: 1em;
height: 1em;
border: 1px solid #ddd;
}

.date-key {
font-size: 0.625em;
color: #424242;
vertical-align: 30%;
}

.requested_dates {
background: #003399;
}

.pending_dates {
background: #999;
}

.results-box {
border: 1px solid #ececec;
padding: 1.5em;
margin: 1em 2em 2em 0;
}

.results-list > .results-box {
margin: 1em 0 2em;
}

.results-details {
margin-left: 0px;
padding: 0;
}

h1.results {
font-size: 0.8125em;
font-weight: 600;
color: #333;
margin: 0.4em 0 0.1em;
}

.neighborhood {
font-size: 0.625em;
margin: 0 0 0.7em;
}

.results-address {
color: #333;
font-size: 0.6875em;
margin: 1.6em 0 1em;
line-height: 1.5em;
}

.duration {
border-bottom: 1px solid #ececec;
line-height: 0.5em;
}

.results-availability {
text-transform: uppercase;
color: #929497;
font-size: 0.625em;
margin-top: -2em;
}

h3.map-header {
color: #929497;
margin: 0 0 1.5em;
}

.client-home {
  position: relative;
  background: #fff;
  overflow: hidden;
}

.client-home:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.1;
    background-image: url('../img/banner_crr_1500.jpg');
    background-repeat: no-repeat;
    background-position: 50% 0;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}

.banner .search-banner {
text-align: center;
color: #424242;
letter-spacing: 0.03em;
background: #fff;
font-size: 1.607142857em;
}

.banner h1.search-banner  {
text-transform: uppercase;
font-weight: bold;
margin-top: 3em;
}

.banner h2.search-banner  {
font-weight: 100;
margin-top: 0.7em;
margin-bottom: 3em;
}

.search-bar {
padding: 1em;
background: #ebeced;
margin: 0;
z-index: 20;
}

.search-button {
font-size: 0.75em;
font-weight: 600;
text-transform: uppercase;
background: #003399;
border-radius: 1px;
}

.feature-area {
font-size: 1.28em;
text-align: center;
letter-spacing: 0.03em;
color: #929497;
}

article h1.feature-area  {
text-transform: uppercase;
font-weight: 500;
margin-top: 3em;
}

article h2.feature-area  {
font-weight: 100;
margin-top: 0.7em;
margin-bottom: 3em;
}

h1.feature-location {
font-size: 0.8125em;
font-weight: 600;
color: #424242;
}

.feature-properties {
margin: 0 2em 4em;
}

.feature-properties * .row {
margin: 0;
}

.feature-column {
padding: 0 0.5em;
border-box: box-sizing;
}

.feature-properties * .row.feature-details {
margin-top: -10px;
padding: 1em; 
border-left: 1px solid #ddd;
border-right: 1px solid #ddd;
border-bottom: 1px solid #ddd;
}

.feature-id, .feature-size {
font-size: 0.6875em;
line-height: 1.4em;
}

.small-print {
font-size: 0.6875em;
line-height: 1.5em;
color: #929497;
}

.denomination {
font-size: 1rem;
}

.preview-tile {
 border: 1px solid #edeeef; 
}

.no-padding {
padding: 0;
}

.right-padding {
padding: 0 5px 0 0;
}

.left-padding {
padding: 0 0 0 5px;
}

.results-list-header {
  width:650px;
  height: 80px;
  position:fixed;
  top:100px;
  left:30px;
padding: 1em;
background: #333;
color: #fefefe;
-webkit-box-shadow: 0px 6px 15px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 6px 15px 0px rgba(0,0,0,0.75);
box-shadow: 0px 6px 15px 0px rgba(0,0,0,0.75);
}

.results-list-header h1 {
font-weight: 600;
color: #fbf2e2;
margin: 0 0 0.5em 0;
}

.results-list {
  width:650px;
  height: 100%;
  overflow: scroll;
  padding:20px;
  background-color:#fff;
  display: block;
  z-index:999;
  position:fixed;
  top:180px;
  left:30px;
-webkit-box-shadow: 0px 6px 15px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 6px 15px 0px rgba(0,0,0,0.75);
box-shadow: 0px 6px 15px 0px rgba(0,0,0,0.75);
}

/*----------------------------------------------------
   Lightbox Forms
-------------------------------------------------------*/

.Login, .close, .pet_link, .request-info-link {
cursor: pointer;
}

.request-info-link {
color: #0047aa;
font-size: 0.75rem;
margin: 0.5em 0 2em 0;
}

.disclaimers {
font-size: 0.75em;
line-height: 1.4em;
}

.Login {
  display: block;
  text-align: right;
  margin-right: 2em;
}

.close {
  text-align: right;
  font-size: 4em;
  font-weight: 100;
  float: none;
  margin: 0;
  }

#grey_overlay {
  background-color: #ebeced;
  left: 0;
  opacity: 1;
  position: absolute;
  top: 0;
  visibility: hidden;
  width: 100%;
  z-index: 50;
  }

.login_form  {
  width:290px;
  height:400px;
  padding:20px;
  background-color:#ebeced;
  display: none;
  z-index:999;
  position:fixed;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  }

.pet_form  {
  width:550px;
  height:500px;
  padding:20px;
  background-color:#ebeced;
  display: none;
  z-index:999;
  position:fixed;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  }

.request_info_form  {
  width:550px;
  height:500px;
  padding:20px;
  background-color:#ebeced;
  display: none;
  z-index:999;
  position:fixed;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  }

.reserve_now_form  {
  width: 500px;
  height: 800px;
  padding: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  overflow-y: none;
  -webkit-overflow-scrolling: none;
  }

.login_form > h1, .reserve_now_form * h1, .request_info_form h1  {
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 500;
  margin: 0 0 1em 0;
}

.reserve_now_form * h2, .pet_form * h2, .request_info_form * h2  {
  margin: 0 0 1.5em 0;
}

.login_form > label, .reserve_now_form * label {
  font-size: 0.7em;
  display: block;
  margin: 0.5em 0;
}

.textarea-label, .cb-label, .text-input-label {
  font-size: 0.8em;
}

.cb-label {
  margin-left: 4px;
  vertical-align: 4px;
  display: inline;
}

.textarea-label, .text-input-label {
  margin: 1.5em 0 0.5em;
}

/* hide checkbox' to override (hide) browsers appearance */
.login_form * input[type="checkbox"], .pet-row * input[type="checkbox"], .info-row * input[type="checkbox"] {
visibility: hidden;
}

/* make fake checkbox in label to control appearance (as flat) using label selector to apply a flat square */
.login_form label, .request_info_form label, .pet_form label {
	cursor: pointer;
	position: absolute;
	width: 15px;
	height: 15px;
	top: 0;
  left: 0;
	background: #fff;
	border:1px solid #ddd;
}

.flat-cb-container {
position: relative;
}

/* make fake checkmark for checked state */
.login_form label:after, .request_info_form label:after, .pet_form label:after {
	opacity: 0;
	content: '';
	position: absolute;
	width: 12px;
	height: 7px;
	background: #transparent;
	top: 0px;
	left: 2px;
	border: 2px solid #003399;
	border-top: none;
	border-right: none;
	transform: rotate(-45deg);
}

.login_form label:hover::after, .request_info_form label:hover::after, .pet_form label:hover::after {
	opacity: 0.1;
}

.request_info_form input[type=checkbox]:checked + label:after, 
.pet_form input[type=checkbox]:checked + label:after, 
.login_form input[type=checkbox]:checked + label:after {
	opacity: 1;
}



.login_form > input[type=text], .login_form > input[type=password] {
 margin-bottom: 1em;
 display: block;
background: #fff;
padding: 6px;
font-size: 0.9em;
color: #333;
}

.reserve_now_form * input[type=text], .pet_form * input[type=text] {
background: #fff;
padding: 6px;
font-size: 0.9em;
color: #333;
}

.pet-row, .info-row {
font-size: 0.9em;
margin: 0.1em;
}

.pet-row {
background: #ddd;
padding: 1.5em;
}

.info-row {
padding: 0.3em 0;
}

.pet-row * i {
color: #003399;
}

.dog-extra, .cat-extra, .other-pet-extra {
  display: none;
}

.boxsizingBorder {
background: #fff;
padding: 6px;
font-size: 0.9em;
color: #333;
width: 100%;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
border: 1px solid #ddd;
border-radius: 3px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
}

.li-button {
  font-size: 0.75em;
  background-color:#003399;
  color: #fff;
  text-transform: uppercase;
  display: block;
  text-align: center;
  width: 100%;
  padding: 1em;
  margin: 2em auto;
}

.forgot-pwd {
  font-size: 0.75em;
  display: block;
  width: 219px;
  text-align: center;
}

.form-hr {
border-top: 1px solid #ddd;
}

/*----------------------------------------------------
   Search Forms
-------------------------------------------------------*/

#destination::-webkit-input-placeholder::before { font-family: fontAwesome; content:'\f041'; color: #003399; font-size: 1.2em; }
#move_in::-webkit-input-placeholder::before { font-family: fontAwesome; content:'\f133'; color: #003399; font-size: 1.2em; }
#move_out::-webkit-input-placeholder::before { font-family: fontAwesome; content:'\f133'; color: #003399; font-size: 1.2em; }
#Destination::-webkit-input-placeholder::before { font-family: fontAwesome; content:'\f041'; color: #003399; font-size: 1.2em; }
#Destination::-webkit-input-placeholder::before { font-family: fontAwesome; content:'\f041'; color: #003399; font-size: 1.2em; }

.search-button {
font-size: 0.75em;
font-weight: 600;
text-transform: uppercase;
background: #003399;
border-radius: 1px;
padding: 1em;
}


}
/*-----------------------------------------------------
Extra Wide Style
-------------------------------------------------------*/
@media only screen and (min-width: 1280px) {

/* RESPONSIVE CSS
-------------------------------------------------- */

.carousel-image-one {
  background: url('../img/slider_color_2128.jpg') no-repeat top left;
  }

.carousel-image-two {
  background: url('../img/slider_castle_2128.jpg') no-repeat top right;
  }

.carousel-image-three {
  background: url('../img/slider_tablet_2128.jpg') no-repeat top left;
  }

.carousel-image-four {
  background: url('../img/slider_antarctica_2128.jpg') no-repeat top right;
  }

.carousel-image-five {
  background: url('../img/slider_human_2128.jpg') no-repeat top right;
  }

.carousel-caption-one {
  padding-bottom: 65px;
  }

.carousel-caption-two {
  padding-bottom: 70px;
  }

.carousel-caption-three {
  padding-bottom: 125px;
  }

.carousel-caption-four {
  padding-bottom: 45px;
  }

.carousel-caption-five {
  padding-bottom: 20px;
  }

.carousel-caption p.main {
  font-size: 3.3rem;
  }

.carousel-caption p.last {
  font-size: 2.3rem;
  }

.carousel-caption-one p.main, .carousel-caption p.last {
  font-size: 2.0rem;
  }

